.backgroundMaterial{
    background: var(--primary-color);
   
}
.navigationBar{
    background-color: grey;
    color :gray;
    display: flex;
    position:absolute;top:0px; right:0px;
    align-items: center;
    font-size: 20px;
    width: 100%;
    height: 75px;
}

.navigationBarElements{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

#icon{
    width: 30px;
    cursor: pointer;
}

:root{
    --primary-color: #0c192c;
    --secondary-color: pink;
    --activestatus: block;
}

.funtheme{
    --primary-color: #fffdd0;
    --secondary-color: white;
    --bubble-background: #4fc3dc;
    --bubble-child:#ff2d75;
}

.navList{
    list-style-type: none;
    padding: 20px 10px;
    text-align: right;

}
.navList .listItem{
    display: inline-block;
    padding: 20px;
    text-align: center;
    position:relative; right:0px; top: 0px;
}

.navigationBar a{
    color: white;
    text-decoration: none;
}

.navigationBar :hover{
    color:aqua;
}

.menu-line{
    width: 20px;
    height:4px;
    margin-bottom: 4px;
    background-color: white;
}
.menu{
    display: none;
}

.logo .logoClass{
    list-style-type: none;
    font-weight: bold;
    align-items: left;
    font-family: brush script mt, cursive;
    color: black;
    font-size: 50px;
    position: relative; left: 0px;
    
}

@media all and (max-width: 1200px){
    .navigationBar{
        flex-direction: column;
    }
    .menu{
        display: block;
        position: absolute;
        right: 15px;
        top : 15px;
    }
    .navList{
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 0px;
        display: none;
    }
    .navList .listItem{
        display: block;
        padding: 10px;
        border: 1px solid white;
    }
    .active .navList{
        display: var(--activestatus);
    }
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles{
    position: relative;
    display: flex;
}

.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(60s/ var(--i));
}

.bubbles span:nth-child(even){
    background: pink;
    box-shadow: 0 0 0 10px #ff2d7544, 
    0 0 50px pink,
    0 0 100px pink;
}

@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}